{% extends 'base.html' %}
{% block title %}
    Add Post
{% endblock %}


{% block body %}
{% if not post %} 
<h1>
    Add Post for {{user.first_name + ' ' + user.last_name}} 
</h1>

<form action="{{'/users/' ~ user.id ~ '/posts/new'}}" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="content" placeholder="Content">
    <a href="{{ url_for('user_page', user_id=user.id) }}" class="btn">Cancel</button>
    <button type="submit">Add Post</button>
</form>

{% else %}
<h1>
   Edit Post "{{post.story_name}}"
</h1>

<form action="{{'/posts/' ~ post.id ~ '/edit'}}" method="POST">
    <input type="text" name="title" placeholder="Title" value='{{ post.story_name if post is not undefined else "" }}'>
    <input type="text" name="content" placeholder="Content" value='{{ post.story_content if post is not undefined else "" }}'>
    <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn">Cancel</button>
    <button type="submit">Update Post</button>
</form>


{% endif %}
{% endblock %}