{% extends 'base.html' %}
{% block title %}
    Tag '{{tag.name}}'
{% endblock %}


{% block body %}
{% if request.method == 'GET' %}
<div class="container">
    <h1>{{tag.name}}</h1>
    <h2>Stories tagged '{{tag.name}}':</h2>
    <ul>
        {% if tag.posts_with_tag %}
            {% for story in tag.posts_with_tag %}
            <li>
                <a href="/posts/{{story.tags.id}}">{{story.tags.story_name}}</a>
            </li>
            {% endfor %}
        {% else %}

        <p>No stories with this tag. <a href='/users'>Write one!</a></p>
        {% endif %}
    </ul>
    <form action="{{'/tags/'~tag.id~'/edit'}}" style="margin-bottom: 10px;">
        <button class="btn btn-success">Edit Tag</button>
    </form>
    <form action="{{'/tags/'~tag.id~'/delete'}}" methods="POST">
        <button class="btn btn-danger">Delete Tag</button>
    </form>
    
    {% else %}
    <form action="{{'/tags/'~tag.id~'/edit'}}" method="POST">
        <input type="text" value="{{tag.name}}" name="tag">
        <button class="btn btn-success">Submit</button>
    </form>
    {% endif %}
    
</div>

{% endblock %}