{% extends 'base.html' %}
{% block title %}
    Add Users
{% endblock %}


{% block body %}
<div class="container">
    {% if not user %}
    <h1>
        Create New User
    </h1>
{% else %}
    <h1>
        Update User
    </h1>
{% endif %}

    <form action="{{'/users/' ~ user.id ~ '/edit' if user is not undefined else '/users/new'}}" method="POST">
        <input type="text" name="first_name" placeholder="Enter a first name" value='{{ user.first_name if user is not undefined else "" }}'>
        <input type="text" name="last_name" placeholder="Enter a last name" value="{{ user.last_name if user is not undefined else '' }}">
        <input type="url" name="img_url" placeholder="Enter URL for image of this user" value="{{ user.image_url if user is not undefined else '' }}">
        {% if user %}
        <button class='btn btn-primary' type="submit">Update</button>
        {% else %}
        <button class='btn btn-success' type="submit">Add</button>
        {% endif %}
    </form>
</div>


{% endblock %}