{% extends 'base.html' %}
{% block title %}
    {{user.first_name + ' ' + user.last_name}}
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4" style="max-width: 400px;">
            <div style="margin-top: 3%;">
                <img src="{{ user.image_url }}" class="img-thumbnail" style="max-width: 100%; height: auto;" alt="">
            </div>
            <h1>
                {{ user.first_name + ' ' + user.last_name }}
            </h1>
            <div class="d-flex" style="text-align: center;">
                <div class="mx-1">
                    <form action="/users/{{user.id}}/edit" method="GET">
                        <button class='btn btn-primary btn-block' type="submit">Edit</button>
                    </form>
                </div>
                <div class="mx-1">
                    <form action="/users/{{user.id}}/delete" method="POST">
                        <button class='btn btn-danger btn-block' type="submit">Delete</button>
                    </form>
                </div>
                <div class="mx-1">
                    <form action="/users/{{user.id}}/posts/new" method="GET">
                        <button class='btn btn-success btn-block'>Add Post</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% if posts %}
            <h1>
                Posts
            </h1>
            <ul>
                {% for story in posts %}
                <li>
                    <a href="/posts/{{story.id}}">{{ story.story_name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}