{% extends 'base.html' %}
{% block title %}Add a Pet{% endblock %}

{% block content %}
<h1>New Pet
    <form action="/add" method="POST">
        {{form.hidden_tag()}}
            {% for field in form 
                    if field.widget.input_type != 'hidden' %}
                    <p>
                        {{field.label}}
                        {{field}}
                    </p>
                    {% for err in field.errors %}
                    {{err}}
                    {% endfor %}
                </p>
            {% endfor %}
            <button>Submit</button>
    </form>
</h1>





{% endblock %}
